<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.wen.wenbook">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.activity.MainActivity">
        </activity>
        <activity android:name=".ui.activity.SearchActivity"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"/>
        <activity android:name=".ui.activity.BookInfoActivity"/>
        <activity android:name=".ui.activity.BookInfoAddActivity"/>
        <activity android:name=".ui.activity.BookInfoAddActivity2"/>
        <activity android:name=".ui.activity.ScanningActivity"/>
        <activity android:name=".ui.activity.BookNoteActivity">
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoTitle.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.GankDateActivity">
        </activity>
        <activity android:name=".ui.activity.WebViewActivity">
        </activity>
        <activity android:name=".ui.activity.GankSearchActivity">
        </activity>
    </application>

</manifest>